<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Edit Menu Item</h1>
    <%= nested_form_for [:admin, @menu_item] do |f| %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :price %><br>
        <%= f.text_field :price, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :vegetarian %><br>
        <%= f.check_box :vegetarian %>
      </div>

      <div class="field">
        <%= f.label(:picture) %><br>
        <%= f.file_field(:picture) %>
      </div><br>


      <p><%= f.link_to_add('Add Ingredient', :ingredients) %></p>
      <!-- inserting a form here for ingrediants -->
      <%= f.fields_for(:ingredients) do |ingredient_form| %>
        <div class="from-group">
          <%= f.label(:name) %><br>
          <%= ingredient_form.text_field(:name) %>
        </div>
        <br>
        <div class="from-group">
          <%= f.label(:calories) %><br>
          <%= ingredient_form.number_field(:calories) %>
        </div><br>
        <p><%= ingredient_form.link_to_remove('Remove Ingredient') %></p>
      <% end %>

      <div class="form-group">
        <%= f.submit :Update, class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>
